@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@layer components {
  .font-code {
    font-family: 'YourCustomFontFamily', monospace; /* Replace 'YourCustomFontFamily' with your actual font family */
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-c-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html,
body {
  height: 100%;
  width: auto;
  margin: 0;
}
body {
  color: rgb(var(--foreground-rgb));
  background: #111111;
  font-family: "Poppins", sans-serif; /* Apply Poppins font */
  /* display: flex;
justify-content: center;
align-items: center; */
}
/* Circle Container Styles */
.neon-circle {
  margin: 20px;
  padding: 20px;
  width: 400px; /* Diameter */
  height: 400px; /* Diameter */
  border-radius: 50%; /* Makes it a circle */
  background-color: black; /* Adjust background color as needed */
  border: 5px solid lime; /* Adjust border thickness and color as needed */
  /* box-shadow: 0 0 10px lime, 0 0 30px lime, 0 0 45px lime, 0 0 60px lime; Neon glow effect */
  display: flex; /* Optional, to center content inside the circle */
  justify-content: center; /* Optional, to center content inside the circle */
  align-items: center; /* Optional, to center content inside the circle */
  color: white; /* Optional, adjust content text color */
  font-size: 1.5em; /* Optional, adjust content font size */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dashboard-container {
  max-width: 1200px; /* Adjust the maximum width according to your design */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Add some padding around the container */
}

.dashboard-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
/* Main CSS */
.icon-column {
  display: block;
  flex-direction: column;
  align-items: center;
}

.hamburger {
  display: none;
}

.icon-holder {
  width: 80px; /* Diameter of the circle */
  height: 80px; /* Diameter of the circle */
  border-radius: 50%; /* Make it a circle */
  background-color: #1e1e1e; /* Set background color */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; /* Add some space between icons */
  color: white; /* Icon color */
  font-size: 24px; /* Icon size */
}
.mobile-menu {
  display: none;
}
/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .icon-column {
    display: none;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    font-size: 30px; /* Adjusted for better visibility */
    color: white; /* White icon on potential dark background */
  }
  .mobile-menu {
    display: none; /* Initially hidden */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.95); /* Semi-transparent black */
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mobile-menu.open {
    display: flex; /* Only display when open */
  }
  .close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
}

.icon-holder2 {
  width: 80px; /* Diameter of the circle */
  height: 80px; /* Diameter of the circle */
  border-radius: 50%; /* Make it a circle */

  background-image: radial-gradient(
    farthest-side at 45%,
    black,
    #981c1c,
    yellow
  );
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; /* Add some space between icons */
}

.icon-holder2 i {
  color: #ffffff; /* Set icon color to white */
}
/* .icon-holder {
padding: 10px;
border: none;
text-decoration: none;
color: inherit;
background-color: transparent;
transition: transform 0.2s;
} */

/* .icon-holder:hover {
transform: scale(1.1);
} */
.active {
  background-color: #11539b; /* Change the color or style to signify the active icon */
  transform: scale(1.2); /* Example to enlarge the active icon */
}

.icon-column i {
  color: #ffffff; /* Set icon color to white */
  font-size: 40px; /* Set icon size */
}

/* Active icon style */
.active-icon {
  background-color: white !important; /* Override default background color */
  color: black !important; /* Override default icon color */
}

/* Adjust position of the icon within the circle */
.icon-holder i {
  transform: translateY(-20%); /* Adjust as needed */
}

.icon {
  background-color: #f0f0f0;
  border-radius: 5px;
}

.image-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.stats-column {
  width: 70%; /* Adjust width as needed */
  padding: 20px;
}

.stat {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .dashboard-section {
    flex-direction: column;
  }

  .stat-container {
    padding-top: 30px;
  }

  .stats-column {
    width: 100%;
  }

  .rectangle-box {
    border-left: none;
    border-top: 2px solid #00ff00; /* Green solid top edge */
  }
}

.header-logo {
  padding: 20px;
}

.header-section {
  display: flex;
  align-items: center;
}

.ffp {
  font-family: "Poppins", sans-serif; /* Apply Poppins font */
}

.logo-name {
  font-family: "Poppins", sans-serif; /* Apply Poppins font */
  font-weight: 700;
  margin-left: -40px;
  color: --var(c-p);
}

.c-btn {
  border: none; /* Remove default button border */
  padding: 0; /* Remove default button padding */
  background-color: transparent; /* Make button background transparent */
  cursor: pointer; /* Change cursor to pointer */
}

.c-btn:focus {
  outline: none; /* Remove button outline on focus */
}

.rectangle-box {
  width: 100%; /* Adjust width as needed */
  padding: 20px; /* Adjust padding as needed */
  border-left: 12px solid #00ff00; /* Green solid left edge */
  background-color: #333; /* Light black background */
  border-radius: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.content-col {
  width: calc(100% - 40px); /* Adjust width to account for padding */
}

.icon-col {
  width: 60px; /* Adjust width as needed */
}

@media (min-width: 768px) {
  .content-col {
    width: calc(
      100% - 60px
    ); /* Adjust width to account for padding and icon col */
  }

  .icon-col {
    width: 60px; /* Adjust width as needed */
  }
}

.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.auth-section {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;
  width: 400px;
}

.auth-content {
  margin: 1rem 0;
}

.auth-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.auth-subtitle {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2rem;
}

.auth-btn {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-btn:hover {
  background-color: #0056b3;
}
/* styles/icon-navigation.css */
.icon-navigation {
  display: grid;
  justify-content: space-around;
}
.icon-holder:hover {
  transform: scale(1.1);
}
/* .icon-holder {
padding: 10px;
border: none;
text-decoration: none;
color: inherit;
background-color: transparent;
transition: transform 0.2s;
}



.icon-holder i {
font-size: 24px;
} */
.l-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #0056b3 2px solid;
  border-radius: 10px;
}
.df {
  display: flex;
}

.dg {
  display: grid;
}

.ac {
  align-items: center;
}

.jc {
  justify-content: center;
}

.l-btn {
  width: 50%;
  /* height: 45px; */
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  /* font-size: 1em; */
  font-weight: 600;
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
}
.invite-section {
  @apply flex flex-col items-center space-y-4;
}

.ref-url {
  @apply p-2 border border-gray-300 rounded-md w-64 text-center;
}

.copy-button,
.whatsapp-button {
  @apply p-2 rounded-md text-white cursor-pointer w-64;
}

.copy-button {
  @apply bg-blue-600 hover:bg-blue-700;
}

.whatsapp-button {
  @apply bg-green-600 hover:bg-green-700;
}

/* Font Size */
.fs10 {
  font-size: 10px;
}
.fs20 {
  font-size: 20px;
}
.fs30 {
  font-size: 30px;
}
.fs40 {
  font-size: 40px;
}
.fs50 {
  font-size: 50px;
}
.fs60 {
  font-size: 60px;
}
.fs70 {
  font-size: 70px;
}
.fs80 {
  font-size: 80px;
}
.fs90 {
  font-size: 90px;
}
.fs100 {
  font-size: 100px;
}
.fs110 {
  font-size: 110px;
}
.fs120 {
  font-size: 120px;
}
.fs130 {
  font-size: 130px;
}
.fs140 {
  font-size: 140px;
}
.fs150 {
  font-size: 150px;
}
.fs5 {
  font-size: 5px;
}
.fs15 {
  font-size: 15px;
}

/* Opacity */
.o10 {
  opacity: 10%;
}
.o20 {
  opacity: 20%;
}
.o30 {
  opacity: 30%;
}
.o40 {
  opacity: 40%;
}
.o50 {
  opacity: 50%;
}
.o60 {
  opacity: 60%;
}
.o70 {
  opacity: 70%;
}
.o80 {
  opacity: 80%;
}
.o90 {
  opacity: 90%;
}
.o100 {
  opacity: 100%;
}
.o5 {
  opacity: 5%;
}
.o15 {
  opacity: 15%;
}

/* Positive Padding Left */
.pl10 {
  padding-left: 10px;
}
.pl20 {
  padding-left: 20px;
}
.pl30 {
  padding-left: 30px;
}
.pl40 {
  padding-left: 40px;
}
.pl50 {
  padding-left: 50px;
}
.pl60 {
  padding-left: 60px;
}
.pl70 {
  padding-left: 70px;
}
.pl80 {
  padding-left: 80px;
}
.pl90 {
  padding-left: 90px;
}
.pl100 {
  padding-left: 100px;
}
.pl5 {
  padding-left: 5px;
}
.pl15 {
  padding-left: 15px;
}

/* Positive Padding Right */
.pr10 {
  padding-right: 10px;
}
.pr20 {
  padding-right: 20px;
}
.pr30 {
  padding-right: 30px;
}
.pr40 {
  padding-right: 40px;
}
.pr50 {
  padding-right: 50px;
}
.pr60 {
  padding-right: 60px;
}
.pr70 {
  padding-right: 70px;
}
.pr80 {
  padding-right: 80px;
}
.pr90 {
  padding-right: 90px;
}
.pr100 {
  padding-right: 100px;
}
.pr5 {
  padding-right: 5px;
}
.pr15 {
  padding-right: 15px;
}

/* Positive Padding Top */
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
.pt40 {
  padding-top: 40px;
}
.pt50 {
  padding-top: 50px;
}
.pt60 {
  padding-top: 60px;
}
.pt70 {
  padding-top: 70px;
}
.pt80 {
  padding-top: 80px;
}
.pt90 {
  padding-top: 90px;
}
.pt100 {
  padding-top: 100px;
}
.pt5 {
  padding-top: 5px;
}
.pt15 {
  padding-top: 15px;
}

/* Positive Padding Bottom */
.pb10 {
  padding-bottom: 10px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb50 {
  padding-bottom: 50px;
}
.pb60 {
  padding-bottom: 60px;
}
.pb70 {
  padding-bottom: 70px;
}
.pb80 {
  padding-bottom: 80px;
}
.pb90 {
  padding-bottom: 90px;
}
.pb100 {
  padding-bottom: 100px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb15 {
  padding-bottom: 15px;
}

/* Positive Margin Left */
.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.ml40 {
  margin-left: 40px;
}
.ml50 {
  margin-left: 50px;
}
.ml60 {
  margin-left: 60px;
}
.ml70 {
  margin-left: 70px;
}
.ml80 {
  margin-left: 80px;
}
.ml90 {
  margin-left: 90px;
}
.ml100 {
  margin-left: 100px;
}
.pr5 {
  margin-left: 5px;
}
.pr15 {
  margin-left: 15px;
}

/* Positive Margin Right */
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.mr40 {
  margin-right: 40px;
}
.mr50 {
  margin-right: 50px;
}
.mr60 {
  margin-right: 60px;
}
.mr70 {
  margin-right: 70px;
}
.mr80 {
  margin-right: 80px;
}
.mr90 {
  margin-right: 90px;
}
.mr100 {
  margin-right: 100px;
}
.mr5 {
  margin-right: 5px;
}
.mr15 {
  margin-right: 15px;
}

/* Positive Margin Top */
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mt60 {
  margin-top: 60px;
}
.mt70 {
  margin-top: 70px;
}
.mt80 {
  margin-top: 80px;
}
.mt90 {
  margin-top: 90px;
}
.mt100 {
  margin-top: 100px;
}
.mt5 {
  margin-top: 5px;
}
.mt15 {
  margin-top: 15px;
}

/* Negative Margin Bottom */
.mb--10 {
  margin-bottom: -10px;
}
.mb--20 {
  margin-bottom: -20px;
}
.mb--30 {
  margin-bottom: -30px;
}
.mb--40 {
  margin-bottom: -40px;
}
.mb--50 {
  margin-bottom: -50px;
}
.mb--60 {
  margin-bottom: -60px;
}
.mb--70 {
  margin-bottom: -70px;
}
.mb--80 {
  margin-bottom: -80px;
}
.mb--90 {
  margin-bottom: -90px;
}
.mb--100 {
  margin-bottom: -100px;
}
.mb--5 {
  margin-bottom: -5px;
}
.mb--15 {
  margin-bottom: -15px;
}

/* Negative Margin Left */
.ml--10 {
  margin-left: -10px;
}
.ml--20 {
  margin-left: -20px;
}
.ml--30 {
  margin-left: -30px;
}
.ml--40 {
  margin-left: -40px;
}
.ml--50 {
  margin-left: -50px;
}
.ml--60 {
  margin-left: -60px;
}
.ml--70 {
  margin-left: -70px;
}
.ml--80 {
  margin-left: -80px;
}
.ml--90 {
  margin-left: -90px;
}
.ml--100 {
  margin-left: -100px;
}
.ml--5 {
  margin-left: 5px;
}
.ml--15 {
  margin-left: 15px;
}

/* Negative Margin Right */
.mr--10 {
  margin-right: -10px;
}
.mr--20 {
  margin-right: -20px;
}
.mr--30 {
  margin-right: -30px;
}
.mr--40 {
  margin-right: -40px;
}
.mr--50 {
  margin-right: -50px;
}
.mr--60 {
  margin-right: -60px;
}
.mr--70 {
  margin-right: -70px;
}
.mr--80 {
  margin-right: -80px;
}
.mr--90 {
  margin-right: -90px;
}
.mr--100 {
  margin-right: -100px;
}
.mr--5 {
  margin-right: -5px;
}
.mr--15 {
  margin-right: -15px;
}

/* Negative Margin Top */
.mt--10 {
  margin-top: -10px;
}
.mt--20 {
  margin-top: -20px;
}
.mt--30 {
  margin-top: -30px;
}
.mt--40 {
  margin-top: -40px;
}
.mt--50 {
  margin-top: -50px;
}
.mt--60 {
  margin-top: -60px;
}
.mt--70 {
  margin-top: -70px;
}
.mt--80 {
  margin-top: -80px;
}
.mt--90 {
  margin-top: -90px;
}
.mt--100 {
  margin-top: -100px;
}
.mt--5 {
  margin-top: -5px;
}
.mt--15 {
  margin-top: -15px;
}

/* Positive Margin Bottom */
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb90 {
  margin-bottom: 90px;
}
.mb100 {
  margin-bottom: 100px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb15 {
  margin-bottom: 15px;
}

/*Font Weight*/

.fw100 {
  font-weight: 100;
}
.fw200 {
  font-weight: 200;
}
.fw300 {
  font-weight: 300;
}
.fw400 {
  font-weight: 400;
}
.fw500 {
  font-weight: 500;
}
.fw600 {
  font-weight: 600;
}
.fw700 {
  font-weight: 700;
}
.fw800 {
  font-weight: 800;
}
.fw900 {
  font-weight: 900;
}
.fw1000 {
  font-weight: 1000;
}

.m10 {
  margin: 10px;
}
.m20 {
  margin: 20px;
}
.m30 {
  margin: 30px;
}
.m40 {
  margin: 40px;
}
.m50 {
  margin: 50px;
}
.m60 {
  margin: 60px;
}
.m70 {
  margin: 70px;
}
.m80 {
  margin: 80px;
}
.m90 {
  margin: 90px;
}
.m100 {
  margin: 100px;
}
.m5 {
  margin: 5px;
}
.m15 {
  margin: 15px;
}

.p10 {
  padding: 10px;
}
.p20 {
  padding: 20px;
}
.p30 {
  padding: 30px;
}
.p40 {
  padding: 40px;
}
.p50 {
  padding: 50px;
}
.p60 {
  padding: 60px;
}
.p70 {
  padding: 70px;
}
.p80 {
  padding: 80px;
}
.p90 {
  padding: 90px;
}
.p100 {
  padding: 100px;
}
.p5 {
  padding: 5px;
}
.p15 {
  padding: 15px;
}

.c-p {
  color: #cff80b;
}
.c-s {
  color: #ff2257;
}

.c-black {
  color: black;
}
.c-white {
  color: white;
}
.c-red {
  color: red;
}
.c-green {
  color: green;
}
.c-blue {
  color: blue;
}
.c-yellow {
  color: yellow;
}
.c-orange {
  color: orange;
}
.c-purple {
  color: purple;
}
.c-gray {
  color: gray;
}
.c-brown {
  color: brown;
}
.c-pink {
  color: pink;
}
.c-lime {
  color: lime;
}
.c-navy {
  color: navy;
}
.c-olive {
  color: olive;
}
.c-silver {
  color: silver;
}
.c-teal {
  color: teal;
}
.c-aqua {
  color: aqua;
}
.c-maroon {
  color: maroon;
}
.c-fuchsia {
  color: fuchsia;
}
.c-cyan {
  color: cyan;
}
.c-gold {
  color: gold;
}
.c-skyblue {
  color: skyblue;
}
.c-beige {
  color: beige;
}
.c-coral {
  color: coral;
}
.c-violet {
  color: violet;
}
.c-khaki {
  color: khaki;
}
.c-tomato {
  color: tomato;
}
.c-plum {
  color: plum;
}
.c-darkgreen {
  color: darkgreen;
}
.c-darkblue {
  color: darkblue;
}

.bc-p {
  background: #cff80b;
}
.bc-s {
  background: #ff2257;
}

.bc-black {
  background: black;
}
.bc-white {
  background: white;
}
.bc-red {
  background: red;
}
.bc-green {
  background: green;
}
.bc-blue {
  background: blue;
}
.bc-yellow {
  background: yellow;
}
.bc-orange {
  background: orange;
}
.bc-purple {
  background: purple;
}
.bc-gray {
  background: gray;
}
.bc-brown {
  background: brown;
}
.bc-pink {
  background: pink;
}
.bc-lime {
  background: lime;
}
.bc-navy {
  background: navy;
}
.bc-olive {
  background: olive;
}
.bc-silver {
  background: silver;
}
.bc-teal {
  background: teal;
}
.bc-aqua {
  background: aqua;
}
.bc-maroon {
  background: maroon;
}
.bc-fuchsia {
  background: fuchsia;
}
.bc-cyan {
  background: cyan;
}
.bc-gold {
  background: gold;
}
.bc-skyblue {
  background: skyblue;
}
.bc-beige {
  background: beige;
}
.bc-coral {
  background: coral;
}
.bc-violet {
  background: violet;
}
.bc-khaki {
  background: khaki;
}
.bc-tomato {
  background: tomato;
}
.bc-plum {
  background: plum;
}
.bc-darkgreen {
  background: darkgreen;
}
.bc-darkblue {
  background: darkblue;
}
